@import "reset.css";

.page{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

}
header{
    margin-bottom: 49px;
}

aside {
    float: left;
    width: 344px;
}

main {
    float: right;
    width: 885px;
    margin-bottom: 54px;

}
footer{
    clear: both
}

.menu-list{
    display: flex;
    justify-content: center;
    height: 69px;
    background-color: #35444F;
    align-items: center;

}
.item-list{
    box-sizing: border-box;
    display: block;
    padding-top: 24px;
    padding-left: 38px;
    padding-right: 38px;
    max-width: 344px;
    max-height: 400px;
    height: 100%;

}
.item-list a{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    height: 100%;

    text-decoration: none;
}
.left{
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.right{
    border-right: 1px solid #FFFFFF;
}

.aside-list{
    display:flex;
    flex-flow: column;
    border: 1px solid #000;

}
.aside-list a{
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}
.aside-list a:hover{
    color: #000;
}
.aside-item{
    box-sizing: border-box;
    display: block;
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    height: 80px;
    padding: 26px 0 26px 44px;
}
.image-container{
    display: flex;
    height: 529px;
    align-items: center;
    border: 1px solid #000;

}
.image{
    display: block;
    width: 320px;
    height: 381px;
    margin: 0 auto;
    transition: transform 0.4s ease
}
.main-list{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 832px;
}
.main-item{
    display: flex;
    flex-flow: column;
    gap:13px
}
.text{
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}
.footer-list{
    padding-left: 40px;
    padding-right: 40px;
    height: 70px;
    display: flex;
    gap:135px;
    align-items: center;
    background-color: #63696E7A;
    justify-content: space-between;
    color: #0C1927;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.items-list{

    width: 875px;
    display: flex;
    justify-content: space-between;
}
.footer-item{
    font-size: 28px;
    line-height: 28px;
}
.copy{
    font-size: 24px;
    font-style: normal;
    line-height: 24px;
}
.logo-link{
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
    margin-top: 63px;
    display: inline-block;
    color: #000;
}
.blue{
    color: #4BCAFF;
}
.image:hover{
    transform: scale(1.2)
}
.item-list:hover{
    background-color: #222F3A;
}
.aside-item:hover{
    padding-left: 20%;
    background-color: #DBDBDB;
}
.footer-item:hover{
    color:#3181A6;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 13px;
}
.footer-item a{
    color: #0C1927;
    text-decoration: none;
}