.modal-image-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-image-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .modal-image-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-image-body {
    padding: 20px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  
  .modal-image-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &.cancel-button {
        background-color: #7e3ff2;
        color: white;
      }
  
      &.delete-button {
        background-color: white;
        color: #7e3ff2;
        border: 1px solid #7e3ff2;
      }
    }
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  