.modal-text-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-text-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .modal-text-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-text-body {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .modal-text-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    .favorite-button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #7e3ff2;
      color: white;
      cursor: pointer;
    }
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  