.product-list {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 елементів у рядку */
    gap: 20px;
  }
  