.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    .product-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  
    .product-details {
      padding: 10px;
      text-align: center;
  
      h3 {
        font-size: 18px;
        margin-bottom: 5px;
      }
  
      p {
        color: #777;
      }
    }
  
    .product-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
  
      .add-to-cart {
        background-color: #6200ea;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #3700b3;
        }
      }
  
      .favorite-icon {
        font-size: 24px;
        cursor: pointer;
        color: #ccc;
  
        &.favorite {
          color: #ffca28;
        }
      }
    }
  }
  