:root {
    --main-color: #18CFAB;
    --accent-color: #00CBF6;
    --font-family: Montserrat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.background-img {
    width: 100vw;
    height: 1012px;
    background: url('../img/home.png') center/cover no-repeat;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.navbar {
    background: rgba(94, 93, 88, 0.60);
    width: 100%;
    height: 120px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 233px;
    height: 120px;
    color: white;
    font-size: 32px;
    line-height: 48px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    padding: 0 35px 0 0;
}

.lg {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.lg-svg {
    margin: 0 6px 0 0;
}

.lg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
}

.logo-highlight {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    word-wrap: break-word;
    position: relative;
}
.nav-links li a:hover{

    text-decoration: none;
    color:#18CFAB;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    word-wrap: break-word;
    position: relative;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -51px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-links li a:hover::after {
    opacity: 1;
}

.home .container {
    height: 897px;
}

.home-text {
    max-width: 1000px;
    max-height: 213px;
    margin: -250px auto 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

.home-text span {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.home-text-1\.1,
.home-text-1\.2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.home-text-1\.2 {
    color: var(--main-color);
}

.home-text-2 {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    width: 1000px;
    max-height: 80px;
    line-height: 1.2;
    color: white;
    margin: 22px auto 22px auto;
}

.home-text-3 {
    font-size: 34px;
    font-weight: 400;
    color: #D4D4D4;
    max-width: 795px;
    max-height: 35px;
    line-height: 1.2;
    margin: 0 auto;
}

.home {
    padding-top: 120px;
}

.buttons {
    position: absolute;
    margin-top: 393px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.explore-button,
.purchase-button {
    width: 169px;
    height: 63px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: var(--main-color);
    color: white;
    margin: 0 auto 250px auto;
    border-radius: 8px;
    cursor: pointer;
}

.explore-button:hover,
.purchase-button:hover {
    opacity: 0.9;
}

.purchase-button {
    margin-left: 26px;
    background-color: var(--accent-color);
}

.squarer {
    display: flex;
    justify-content: center;
}

.square1,
.square2,
.square3,
.square4 {
    width: 25vw;
    height: 377px;
    box-sizing: border-box;
    position: relative;
}

.square1 img,
.square2 img,
.square3 img,
.square4 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.square1 span,
.square2 span,
.square3 span,
.square4 span {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.square1 {
    background-color: #1C2A33;
}


.square2 {
    background-color: var(--main-color);
}

.square3 {
    background-color: #1C2A33;
}

.square4 {
    background-color: var(--main-color);
}

.square1 img {
    top: 97px;
}

.square2 img {
    top: 108px;
}

.square3 img {
    top: 97px;
}

.square4 img {
    top: 105px;
}

.square1 span,
.square2 span,
.square3 span,
.square4 span {
    font-size: 20px;
    text-align: center;
    font-weight: Bold;
    text-transform: uppercase;
    color: var(--main-color);
}

.square2 span,
.square4 span {
    color: #FFFFFF;
}

.service{
    padding-top:83px;
    background-color: #FFFFFF;
    padding-bottom: 91px;
}
.service-logo{
    display: flex;
    flex-direction: column;
}
.service-logo-text{
    color: #4E4E4E;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
    margin-bottom: 24px;
}
.service .container{
    flex-direction: column;
}
.service-tables{
    margin-top:67px;
}
.service-tables-window{
    display: flex;
}
.window1,
.window2,
.window3,
.window4,
.window5,
.window6{
    display: flex;
    width: 193px;
    height: 72px;
    color: #717171;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 39px;
    word-wrap: break-word;
    background-color: #EDEFEF;
    position: relative;
    justify-content: center;
    align-items: center;



}
.window1:hover,
.window2:hover,
.window3:hover,
.window4:hover,
.window5:hover,
.window6:hover{
    border: 2px #18CFAB solid
}

.active-window .rect
{
    display: block;
}

.active-window {
    background-color: #18CFAB;
    color:#FFFFFF;
    border: 0px;
}

.rect{
    position: absolute;
    top:71px;
    display: none;
}
.service-tables-window span{
    text-align: center;
}

.service-info{
    display: flex;
    margin: 26px auto auto auto;
}
.service-info span{
    color: #777777;
    font-size: 13.64px;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 24.37px;
    word-wrap: break-word;
    margin: 0 auto 0 15px;
}

.install {
    width: 100vw;
    height: 476px;
    background: url('../img/background-install.png') center/cover no-repeat fixed;
}
.install .container {
    flex-direction: column;
    text-align: center;
}
.install-text{
    display: flex;
    flex-direction: column;
    margin-top: 127px;
    margin-bottom: 83px;
}
.install-text1{
    color: #18CFAB;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40.46px;
    word-wrap: break-word;
    margin-bottom: 13px;
}
.install-text2{
    color: #D8D8D8;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word
}
.install-button, .load-more {
    width: 168px;
    height: 63px;
    color: white;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    word-wrap: break-word;
    border: none;
    background-color: var(--main-color);
    border-radius: 8px;
    cursor: pointer;
}
.work {
    background-color: #E9EDEF;
    font-family: Montserrat;
    font-weight: 400;
    padding-bottom: 107px;
}

.work .container {
    flex-direction: column;
}

.work-logo {
    display: flex;
    flex-direction: column;
}

.work-logo-text {
    color: #4E4E4E;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin: 95px auto 20px auto;
}

.work-tables {
    display: flex;
    width: 100%;
    margin: 70px 269px 70px 269px;
}

.work-tables li {
    width: 100%;
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
}

.lines {
    width: 93px;
    height: 8px;
    margin: 0 auto;
}

.work-example {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 83px;
}

.work-example li {
    position: relative;
    overflow: hidden;
    flex: 0 0 25%;
    width: 286px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.image-container img {
    position: absolute;
    top:46px;
    left:100px;
}
.text1{
    top:112px;
    left:78px;
    color: #18CFAB;
    font-size: 14.18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25.18px;
    word-wrap: break-word
}
.text2{
    top:135px;
    left:109px;
    color: #8A8A8A;
    font-size: 12.15px;
    font-weight: 300;
    line-height: 25.18px;
    word-wrap: break-word
}
.overlay {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.work-example li:hover .overlay {
    opacity: 1;
}
.work-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-info .work-image {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.work-example li:hover .work-image {
    opacity: 0;
}
.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more img{
    margin-right: 9px;
}
.news{
    background: #FFFFFF;
    padding-top: 82px;
    padding-bottom: 131px;
}
.news .container{
    flex-direction: column;
}
.news-logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 83px;
}
.news-logo-text{
    color: #4E4E4E;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
    margin-bottom: 24px
}
.news-table
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap:35px
}
.news-table li{
    flex: 0 0 22.7%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
.work-date{
    width: 65px;
    height: 65px;
    text-align: center;
    background: #203E38;
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0px;
    right:0px
}
.news-table li img{
    width: 100%;

}
.news-name{
    color: #717171;
    font-size: 17.99px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 38.94px;
    word-wrap: break-word
}
.news-author{
    color: #777777;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 38.94px;
    word-wrap: break-word
}
.news-table a
{
    text-decoration: none;
}
.news-table li:hover .work-date
{
    background: #18CFAB;
}
.news-table li:hover .news-name
{
    color: #18CFAB;
}
.reviews{
    width: 100vw;
    height: 853px;
    background: url('../img/background-review.png') center/cover no-repeat fixed;
}
.reviews .container
{
    flex-direction: column;
    text-align: center;
    padding-top: 98px;
}
.reviews-logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
}
.reviews-logo-text{
    color: white;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 25px;
}
.reviews-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 37px;
    margin-bottom: 50px;
}
.reviews-text img{
    width: 44px;
    height: 30px;
    text-align: center;
}
.reviews-text-review{
    color: #BBBBBB;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 30px;
    word-wrap: break-word
}
.reviews-author{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
}
.reviews-author-name{
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 27px;
    word-wrap: break-word
}
.reviews-author-position{
    color: #BBBBBB;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 27px;
}
.reviews-current-author {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 166px;
}

.author-wrapper {
    position: relative;
}

.author {
    display: block;
}

.ellipce {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.reviews-roundabout
{
    display: flex;
    gap:35px;
    margin-top: 63px;
    align-items: center;
}
.ellipce2
{
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}
.right-arrow{
    transform: rotate(180deg);
}
.active-author
{
    position: relative;
    bottom: 15px;
}
.right-arrow:hover{
    background:#18CFAB;
    height: 31px;
}
.roundabout-arrow:hover{
    background:#18CFAB;
    height: 31px;
}



