@import "reset.css";

.structure{
    background-color: #171717;
    max-width: 1920px;
    width: 100%;
}
.clients{
    background-color: #171717;
    max-width: 1920px;
    width: 100%;
}
.sec, .client{
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.header-button, .header-button-clients{
    box-sizing: border-box;
    display: flex;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 49px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #E4B564;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.header-button:before{
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    content: url("../img/icons8_phone_2 1.svg");
    left: 25px;
    bottom: 17px;
}
.main-header{
    display: block;
    box-sizing: border-box;
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 120px;
    margin-bottom: 41px;
    width: 600px;
    height: 30px;
}
.main-text{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 1182px;
    height: 56px;
    margin-bottom: 41px;
}
.main-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-areas:
    "first first second second third third"
    "fourth fourth fourth fifth fifth fifth";
    margin-bottom: 161px;
}
.list-item1{
    grid-area: first;
    background: #634F2C;
}
.list-item2{
    grid-area: second;
    background: #B4A385;
}
.list-item3{
    grid-area: third;
    background: #E4B564;
}
.list-item4{
    grid-area: fourth;
    background: #635A4A;
}
.list-item5{
    grid-area: fifth;
    background: #B08C4D;
}
.list-item1,.list-item2,.list-item3,.list-item4,.list-item5{
    height: 467px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.main-text-car{
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 94px;
}
.main-list-cars{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,150px);
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 192px;
    grid-template-areas:
    "first second third"
    "first second third"
    "fourth second sixth"
    "fourth fifth sixth"
    "fourth fifth seventh"
    "fourth fifth seventh"
}
.list-item-car1{
    grid-area: first;
    background: #0E0E0E;
}
.list-item-car2{
    grid-area: second;
    background: #242424;
}
.list-item-car3{
    grid-area: third;
    background: #1F1F1F;
}
.list-item-car4{
    grid-area: fourth;
    background: #1F1F1F;
}
.list-item-car5{
    grid-area: fifth;
    background: #E4B564;
}
.list-item-car6{
    grid-area: sixth;
    background: #0E0E0E;
}
.list-item-car7{
    grid-area: seventh;
    background: #0A0909;
}
.list-item-car1,.list-item-car2,.list-item-car3,.list-item-car4,.list-item-car5, .list-item-car6, .list-item-car7{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 44px;
}
.list-text{
    margin-left:52px;
    display: block;
    width: 302px;
}

.clients{
    padding-top: 61px;
    background-color: #0E0E0E;
}
.header-button-clients
{
    padding: 0;
}
.clients-header{
    display: block;
    box-sizing: border-box;
    width: 597px;
    height: 28px;
    color: #FFF;
    font-family: Gilam;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.head-clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients-list{
    display: flex;
    flex-wrap: wrap;
}
.client-item1,.client-item2,.client-item3,.client-item4,.client-item5,.client-item6{
    box-sizing: border-box;
    width: 486px;
    height: 391px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-item1{
    background: #634F2C;

}
.client-item2
{
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
}
.client-item2 p{
    width: 326px;
    text-align: center;
    color: #FFF;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
}
.client-item3{
    background: #E4B564;
}
.client-item4{
    background: #635A4A;
}
.client-item5{
    background: #B08C4D;
}
.client-item6{
    background: #634F2C;
}