@import "reset.css";

:root{
    --color1 : #FFF;
    --color2 : #F26522;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    max-width: 1366px;
    max-height: 768px;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 46px;
}
.header{
    box-sizing: border-box;
    max-width: 1028px;
    max-height: 61px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 61px;
}
.logo{
    display: flex;
    flex-direction: column;
    /*width: 192px*/;
    color: var(--color1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    position: relative;
    text-decoration: none;
}
.logo:hover{
    color: var(--color2);
}
.logo:hover:before{
    content: url("../img/house-orange.svg");
}
.logo:before{
    display: block;
    width: 53px;
    height: 47px;
    content:url("../img/house-white.svg");
    position: absolute;
    left: -60px;
}
.milan{
    font-size: 29px;
    line-height: 29px;
    position: relative;
}
.holiday{
    font-size: 18px;
    line-height: 18px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail:hover{
    color:var(--color2)
}
.phone:hover{
    color:var(--color2)
}
.phone{
    text-align: right;
}

.phone, .mail{
    color: var(--color1);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}
.main{
    max-width: 1030px;
    max-height: 560px;
    width: 100%;
    height: 100%;
    margin: 17px auto;

}
.places{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 37px;
    column-gap: 53px;
}
.place-item{
    width: 309px;
    height: 261px;
    position: relative;
}
.image{
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: 220px;
    border: 4px solid transparent;
    padding: 4px;
    transition: border-image 0.3s ease;
}
.signature{
    text-align: center;
    color: var(--color1);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
}

.place-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.place-link:hover .signature{
    color:var(--color2)
}
.place-link:hover .info{
    opacity: 1;
    color: var(--color1);
    height: 55px;
}
.place-link:hover .image{
    border-image: linear-gradient(70deg, black, white);
    border-image-slice: 1;
}
.info{
    display: block;
    width: 295px;
    height: 0;
    color: var(--color1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 12px;
    padding-right: 37px;
    padding-left: 16px;
    transition: opacity 1s ease,height 1s ease;
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    left:10px;
    bottom: 35px

}
.price{
    display: flex;
    flex-direction: column;
}
.info1{
    width: 22px;
    height: 14px;
    font-size: 10px;
    line-height: 10px;
}
.info2{
    width: 36px;
    height: 14px;
    font-size: 20px;
    line-height: 20px;
}
.details{
    font-size: 14px;
    line-height: 14px;
}
.details:after{
    content: url("../img/Vector 1.svg");
    position: relative;
    left:16px
}
.copy{
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin: 48px auto;
}
