.App {
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.product-card img {
  max-width: 100%;
  width: 100px;
  height: 100px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.product-card span {
  cursor: pointer;
  font-size: 1.5rem;
  color: gold;
  margin-left: 10px;
}


.list-view .product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px 10px 10px 10px;
}

.list-view .product-card img {
  width: 150px;
  height: 150px;
}

.list-view .product-card h3 {
  font-size: 1.5rem;
  margin: 0;
}

/* Grid View */
.grid-view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.grid-view .product-card {
  text-align: center;
}
.header-icons {
  margin-top: 2%;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.cart-icon, .favorites-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.cart-count, .favorites-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}
.header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}