.page{
    width: 100%;
    height: 100%;
    max-height: 1626px;
    max-width: 1280px;
}
.header{
    width: 1280px;
    height: 73px;
}

.header_nav{
    height: 15px;
    width: 620px;
    margin: 0 auto;
    padding-top: 31.5px;
    padding-bottom: 31.5px;

}
.header_nav_button{
    width: calc(620px / 4 - 5px);
    display: inline-flex;
    justify-content: center;

}
.header_button_text{
    color: #FF0000;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 3px;
    word-wrap: break-word;
    text-decoration: none;
}
.main_image{
    width: 1280px;
    height: 789px;
}
.main_header_text{
    color: #373737;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.30px;
    word-wrap: break-word;
    padding-top: 48px;
    padding-bottom: 38px;
    text-align: center;
}
.main_paragraph{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #373737;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.40px;
    word-wrap: break-word;
    max-width: 1145px;
    margin: 0 auto;
}
.main_button_text{
    color: white;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 1.80px;
    word-wrap: break-word;
    text-align: center;
}
.main_button{

    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    margin: 66px 544.5px 42px 544.5px;
}
.footer{
    margin: 82px 105px 30px;
}
.footer_text{
    color: #373737;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 2.40px;
    word-wrap: break-word;
    text-align: right;
}

