html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.structure, .clients {
  background-color: #171717;
  max-width: 1920px;
  width: 100%;
}

.sec, .clients__client {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
}

.sec__head {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}

.sec__header-button, .clients__header-button {
  box-sizing: border-box;
  display: flex;
  width: 218px;
  height: 50px;
  border: 1px solid #E4B564;
  padding: 10px 25px 10px 49px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #E4B564;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  &:before {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    content: url("../img/icons8_phone_2 1.svg");
    left: 25px;
    bottom: 17px;
  }
}

.sec__main-header {
  display: block;
  box-sizing: border-box;
  color: #FFF;
  font-family: Gilam;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 120px;
  margin-bottom: 41px;
  width: 600px;
  height: 30px;
}

.sec__main-text {
  color: #FFF;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  width: 1182px;
  height: 56px;
  margin-bottom: 41px;
}

.sec__main-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "first first second second third third"
    "fourth fourth fourth fifth fifth fifth";
  margin-bottom: 161px;
}

.sec__list-item_type_1, .sec__list-item_type_2, .sec__list-item_type_3, .sec__list-item_type_4, .sec__list-item_type_5 {
  grid-area: first;
  background: #634F2C;
}

.sec__list-item_type_2 {
  grid-area: second;
  background: #B4A385;
}

.sec__list-item_type_3 {
  grid-area: third;
  background: #E4B564;
}

.sec__list-item_type_4 {
  grid-area: fourth;
  background: #635A4A;
}

.sec__list-item_type_5 {
  grid-area: fifth;
  background: #B08C4D;
}

.sec__list-item_type_1, .sec__list-item_type_2, .sec__list-item_type_3, .sec__list-item_type_4, .sec__list-item_type_5 {
  height: 467px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.sec__main-text-car {
  color: #FFF;
  font-family: Gilam;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 94px;
}

.sec__main-list-cars {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 150px);
  column-gap: 30px;
  row-gap: 25px;
  margin-bottom: 192px;
  grid-template-areas:
    "first second third"
    "first second third"
    "fourth second sixth"
    "fourth fifth sixth"
    "fourth fifth seventh"
    "fourth fifth seventh";
}

.sec__list-item-car_type_1 {
  grid-area: first;
  background: #0E0E0E;
}

.sec__list-item-car_type_2 {
  grid-area: second;
  background: #242424;
}

.sec__list-item-car_type_3 {
  grid-area: third;
  background: #1F1F1F;
}

.sec__list-item-car_type_4 {
  grid-area: fourth;
  background: #1F1F1F;
}

.sec__list-item-car_type_5 {
  grid-area: fifth;
  background: #E4B564;
}

.sec__list-item-car_type_6 {
  grid-area: sixth;
  background: #0E0E0E;
}

.sec__list-item-car_type_7 {
  grid-area: seventh;
  background: #0A0909;
}

.sec__list-item-car_type_1, .sec__list-item-car_type_2, .sec__list-item-car_type_3, .sec__list-item-car_type_4, .sec__list-item-car_type_5, .sec__list-item-car_type_6, .sec__list-item-car_type_7 {
  color: #FFF;
  font-family: Gilam;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 44px;
}

.list-text {
  margin-left: 52px;
  display: block;
  width: 302px;
}

.clients {
  padding-top: 61px;
  background-color: #0E0E0E;
}

.clients__header-button {
  padding: 0;
}

.clients__header {
  display: block;
  box-sizing: border-box;
  width: 597px;
  height: 28px;
  color: #FFF;
  font-family: Gilam;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.clients__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients__client-item_type_1, .clients__client-item_type_2, .clients__client-item_type_3, .clients__client-item_type_4, .clients__client-item_type_5, .clients__client-item_type_6 {
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__client-item_type_1 {
  background: #634F2C;
}

.clients__client-item_type_2 {
  background: rgba(232, 210, 171, 0.76);
  display: flex;
  flex-direction: column;

  p {
    width: 326px;
    text-align: center;
    color: #FFF;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
  }
}

.clients__client-item_type_3 {
  background: #E4B564;
}

.clients__client-item_type_4 {
  background: #635A4A;
}

.clients__client-item_type_5 {
  background: #B08C4D;
}

.clients__client-item_type_6 {
  background: #634F2C;
}