.products-form{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    width: 100%;
}
.checkout-form {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .checkout-form h3 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .checkout-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }
  
  .checkout-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .checkout-form input:focus {
    border-color: #4f46e5; 
    outline: none;
  }
  
  .checkout-form button {
    width: 100%;
    padding: 14px;
    background-color: #4f46e5; 
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-form button:hover {
    background-color: #3730a3; 
  }
  
  .checkout-form div {
    margin-bottom: 20px;
  }
  
  .checkout-form .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
  }