@import "reset.css";

.form{
    /*max-width: 100vw;
    max-height: 100vh;*/
    width: 100vw;
    height: 100vh;
    background-image: url("../img/fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    height: 7.5vh;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding-left: 5.7vw;
    padding-right: 5.7vw;
    justify-content: space-between;
}
.journey{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 2.9vh;
    font-style: normal;
    font-weight: 700;
    line-height: 2.9vh;
}
.right-side{
    display: flex;
    width: 25.4vw;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8vh; /* 100% */
    align-items: center;
}
.icons{
    display: flex;
    width: 9.2vw;
    column-gap: 2vw;
    margin-right: 3.8vw;
}
.svg{
    width: 1.5vw;
    height: 3.1vh;
}
.welcome{
    width: 7.9vw;
    position: relative;
}
.welcome:before{
    content: "";
    display: block;
    width: 1px;
    height: 2.5vh;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    position: absolute;
    left: -2vw;
    top: -0.35vh
}
.or{
    width: 5vw;
}
.main{
    box-sizing: border-box;
    width: 32.5vw;
    height: 75.8vh;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: 7.5vh auto 9.6vh auto;
    padding: 4vh 4.4vw 4.93vh 4.4vw;

}
.sign-main{
    display: block;
    width: 5vw;
    height: 2.5vh;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6vh;
    float: left;
}
.log-main{
    display: block;
    width: 2.8vw;
    height: 1.8vh;
    float: right;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 1.7vh;;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8vh;; /* 100% */

}
.first-line{
    width: 23.7vw;
    height: 1.8vh;
    margin-bottom: 1.8vh;
}
.facebook{
    width: 11.7vw;
    height: 6.2vh;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2vh;
    background: #305DB8;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.1vh;
    float: left;
    border-radius: 0.77vh;
    text-align: right;
    padding-right: 1.5vh;
}
.google{
    width: 11.7vw;
    height: 6.2vh;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2vh;
    background: #DF4A32;;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.1vh;
    float: right;
    border-radius: 0.77vh;
    text-align: right;
    padding-right: 1.5vh;
}
.second-line{
    width: 23.7vw;
    height: 6.2vh;
    margin-bottom: 4.4vh;
}
.or-line{
    display: block;
    width: 23.7vw;
    color: #848484;
    font-family: Ubuntu;
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8vh;
    text-align: center;
    position: relative;
    margin-bottom: 1.5vh;
}
.or-line:before{
    content: "";
    display: block;
    width: 11.1vw;
    height: 0.2vh;
    background: #F2F2F2;
    position: absolute;
    top:0.8vh

}
.or-line:after{
    content: "";
    display: block;
    width: 11.1vw;
    height: 0.2vh;
    background: #F2F2F2;
    position: absolute;
    bottom: 0.8vh;
    left: 12.6vw;
}
.fields{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin-bottom: 1.5vh;
}
.field-item1,.field-item2,.field-item3,.field-item4,.field-item5{
    width: 23.57vw;
    height: 5.7vh;
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8vh;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 0.77vh;
    padding: 0 0 0 1.46vw;
}
.check-box{
    width: 1.5vw;
    height: 2.6vh;
}
.label{
    display: flex;
    width: 19.6vw;
    height: 2.6vh;
    flex-direction: row;
    align-items: center;
    column-gap: 0.6vw
}
.agreed{
    width: 17.6vw;
    height: 2.6vh;
    position: relative;
    top: 15%;
    color: #434343;
    font-family: Ubuntu;
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8vh;
}
.terms{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2vh;
}
.check{
    margin-bottom: 2.6vh;
}
.create{
    width: 23.7vw;
    height: 6vh;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: 2vh;
    border: 0;
    pointer-events: none;
}

.journey:hover{
   color: #01813F
}
.icon-item:hover{
    fill: #01813F;
}
.log:hover{
    color: #01813F
}
.sign:hover{
    color: #01813F
}
.log-main:hover{
    color: #01813F;
    text-decoration: underline;
}
.facebook:hover{
    background-color: #022263;
}
.google:hover{
    background-color: #AB1F09;
}
.terms:hover{
    color: #01813F;
    text-decoration: underline;
}
.create:hover{
    background: #01813F;
}
.facebook_image{
    width: 1.75vw;
    height: 3.1vh;
    position: absolute;
    top: 24vh;
    left: 39vw;
}
.google_image{
    width: 2.1vw;
    height: 2.6vh;
    position: absolute;
    top: 24.5vh;
    left: 51.5vw;
}

